body{
  background:#000;
  font-family:Arial;
  color:#fff;
}

.card{
  max-width:420px;
  margin:auto;
  padding:15px;
}

.subtitle{color:#aaa}

select,button{
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:12px;
  border:none;
}

.product{
  background:#0e0e0e;
  border-radius:16px;
  padding:12px;
  margin:18px 0;
  box-shadow:0 0 20px rgba(0,255,200,.2);
}

.product img{
  width:100%;
  border-radius:12px;
}

.price{
  font-size:22px;
  color:#00ffd5;
  margin:8px 0;
}

button{
  background:linear-gradient(135deg,#00ffd5,#00bfff);
  color:#000;
  font-weight:bold;
}

.cart{
  background:#111;
  padding:8px;
  border-radius:10px;
  margin:6px 0;
}

.pay{
  margin-top:10px;
}

.paypal{background:#ffc439}
.other{background:#25d366}
