body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  text-align: center;
  padding: 30px;
  background: #111;
}

.products {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card span {
  color: #00ff99;
  font-size: 18px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  background: #00ff99;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
