select{
  width:100%;
  padding:14px;
  border-radius:12px;
  background:#0e1411;
  color:#fff;
  border:1px solid #3cff78;
  font-size:15px;
  appearance:none;
}

#toast{
  position:fixed;
  bottom:30px;
  left:50%;
  transform:translateX(-50%);
  background:#3cff78;
  color:#000;
  padding:14px 22px;
  border-radius:14px;
  opacity:0;
  z-index:9999;
  transition:.3s;
  box-shadow:0 0 20px rgba(60,255,120,.6);
}

#toast.show{opacity:1}
