*{box-sizing:border-box;font-family:Arial}
body{
margin:0;
background:#050a07;
color:#fff;
}

.bg-logo{
position:fixed;
inset:0;
background:url("logo.png") center/65% no-repeat;
opacity:.12;
animation:float 14s ease-in-out infinite;
pointer-events:none;
}

@keyframes float{
0%{transform:scale(1)}
50%{transform:scale(1.05)}
100%{transform:scale(1)}
}

.app{
max-width:420px;
margin:auto;
padding:15px;
}

.title{
text-align:center;
color:#32ff7e;
letter-spacing:3px;
}

.product-card{
background:#0c1511;
border:1px solid #1aff6c;
border-radius:14px;
overflow:hidden;
margin-bottom:16px;
}

.product-img{
width:100%;
height:180px;
object-fit:cover;
}

.product-body{
padding:12px;
}

.product-body h3{
margin:0 0 8px;
}

select{
width:100%;
padding:9px;
border-radius:10px;
border:none;
margin-bottom:8px;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:12px;
background:linear-gradient(90deg,#1aff6c,#00ffcc);
font-weight:bold;
cursor:pointer;
}

.cart{
background:#0b1410;
padding:12px;
border-radius:12px;
margin-top:20px;
}

.cart-item{
display:flex;
justify-content:space-between;
font-size:14px;
margin-bottom:6px;
}

.cart-item span{
color:#ff5555;
cursor:pointer;
}

.total{color:#32ff7e}

.pay{
margin-top:15px;
background:linear-gradient(90deg,#00ff88,#1aff6c);
}

#toast{
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);
background:#1aff6c;
color:#000;
padding:8px 18px;
border-radius:20px;
opacity:0;
transition:.3s;
}

#toast.show{opacity:1}
