body{
  background:#0b0b0b;
  color:#fff;
  font-family:Arial;
  margin:0;
}

header{
  padding:20px;
  text-align:center;
}

.selectors select{
  margin:5px;
  padding:8px;
  border-radius:8px;
}

.product{
  background:#111;
  margin:20px;
  padding:15px;
  border-radius:16px;
}

.product img{
  width:100%;
  border-radius:12px;
}

.product button{
  width:100%;
  margin-top:10px;
  padding:12px;
  background:#00ff88;
  border:none;
  border-radius:10px;
  font-size:16px;
}

#checkout{
  background:#000;
  padding:20px;
}

.pay{
  width:100%;
  padding:15px;
  font-size:18px;
  background:#0070ff;
  color:#fff;
  border:none;
  border-radius:12px;
}

#toast{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#00ff88;
  color:#000;
  padding:10px 20px;
  border-radius:20px;
  opacity:0;
  transition:.3s;
}
#toast.show{opacity:1;}
