*{box-sizing:border-box;font-family:Arial,Helvetica,sans-serif}

body{
  margin:0;min-height:100vh;
  background:radial-gradient(circle at top,#0f1f0f,#000);
  display:flex;justify-content:center;align-items:center;color:#fff
}

.card{
  background:#0b0b0b;padding:22px;border-radius:18px;
  width:95%;max-width:430px;
  box-shadow:0 0 40px rgba(0,255,120,.25);
  animation:slideUp .8s ease
}

.subtitle{text-align:center;color:#9cffc2}

.category{color:#00ff7b;margin-top:20px}

.service{
  display:flex;justify-content:space-between;align-items:center;
  background:#111;padding:10px;border-radius:8px;margin:6px 0;
  transition:.25s
}

.service:hover{
  transform:translateX(6px) scale(1.02);
  box-shadow:0 0 18px rgba(0,255,120,.4)
}

.service button{
  background:#00ff7b;border:none;padding:6px 10px;
  border-radius:6px;font-weight:bold;cursor:pointer
}

.cart-item{
  display:flex;justify-content:space-between;
  font-size:13px;margin:4px 0
}

.cart-item button{
  background:#ff4d4d;border:none;color:#fff;
  padding:2px 6px;border-radius:4px
}

select{
  width:100%;padding:8px;margin-top:8px;border-radius:6px
}

.btn{
  width:100%;margin-top:12px;padding:14px;
  background:#00ff7b;color:#000;font-weight:bold;
  border:none;border-radius:10px;
  animation:pulse 2s infinite;cursor:pointer
}

.invoice{
  background:#000;border:1px solid #00ff7b;
  padding:10px;border-radius:10px;margin-top:12px;font-size:13px
}

/* TOAST */
.toast{
  position:fixed;bottom:25px;left:50%;
  transform:translateX(-50%) translateY(20px);
  background:#00ff7b;color:#000;
  padding:12px 20px;border-radius:12px;
  font-weight:bold;opacity:0;
  transition:.4s;z-index:9999
}
.toast.show{
  opacity:1;transform:translateX(-50%) translateY(0);
  animation:pop .3s ease
}

@keyframes pop{
  from{transform:translateX(-50%) scale(.8)}
  to{transform:translateX(-50%) scale(1)}
}

@keyframes pulse{
  0%{box-shadow:0 0 10px #00ff7b}
  50%{box-shadow:0 0 30px #00ff7b}
  100%{box-shadow:0 0 10px #00ff7b}
}

@keyframes slideUp{
  from{opacity:0;transform:translateY(40px)}
  to{opacity:1;transform:none}
}
