*{
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  margin:0;
  background:#0b0b0b;
  color:#fff;
}

.top{
  text-align:center;
  padding:20px;
}

.container{
  max-width:520px;
  margin:auto;
  padding:15px;
}

.product{
  background:#121212;
  border-radius:16px;
  margin-bottom:20px;
  padding:15px;
  box-shadow:0 0 25px rgba(0,255,120,.15);
}

.product img{
  width:100%;
  max-height:180px;
  object-fit:cover;
  border-radius:12px;
}

.product h2{
  margin:12px 0 8px;
}

select{
  width:100%;
  padding:10px;
  border-radius:10px;
  border:none;
  background:#1b1b1b;
  color:#fff;
  margin-bottom:10px;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  background:linear-gradient(135deg,#00ff88,#00cc66);
  color:#000;
}

button:active{
  transform:scale(.96);
}

#checkout{
  background:#0f0f0f;
  border-radius:16px;
  padding:15px;
  margin-top:30px;
}

#cart div{
  background:#161616;
  padding:8px;
  border-radius:10px;
  margin-bottom:6px;
}

.pay{
  margin-top:15px;
  background:linear-gradient(135deg,#00ffaa,#00ff55);
}

#toast{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#00ff88;
  color:#000;
  padding:12px 18px;
  border-radius:12px;
  opacity:0;
  transition:.3s;
}
#toast.show{opacity:1;}
