*{box-sizing:border-box;font-family:'Segoe UI',sans-serif}

body{
  margin:0;
  background:#050505;
  color:#fff;
}

.bg-logo{
  position:fixed;
  inset:0;
  background:url("logo.png") center/60% no-repeat;
  opacity:.06;
  filter:blur(2px);
  z-index:-1;
}

.header{
  text-align:center;
  padding:30px 15px;
}

.products{
  padding:15px;
}

.product-card{
  background:#0b0b0b;
  border-radius:18px;
  margin-bottom:22px;
  box-shadow:0 0 25px rgba(0,255,120,.15);
  overflow:hidden;
  animation:fadeUp .6s ease;
}

.product-card img{
  width:100%;
  max-height:200px;
  object-fit:cover;
  filter:brightness(.85);
}

.product-info{
  padding:15px;
}

.product-info h2{
  color:#1aff5c;
  margin:0 0 10px;
}

select{
  width:100%;
  padding:12px;
  border-radius:10px;
  background:#050505;
  color:#fff;
  border:1px solid #1aff5c;
  margin-bottom:12px;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:linear-gradient(90deg,#1aff5c,#00cc66);
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 0 18px rgba(0,255,120,.7);
  transition:.2s;
}

button:active{transform:scale(.96)}

#checkout{
  padding:20px;
  background:#080808;
  border-top:2px solid #1aff5c;
}

.pay{
  margin-top:10px;
  font-size:16px;
}

@keyframes fadeUp{
  from{opacity:0;transform:translateY(20px)}
  to{opacity:1;transform:translateY(0)}
}
